[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git

[submodule "themes/timeline"]
	path = themes/timeline
	url = https://github.com/s4n7h0/hugo-theme-timeline.git
